![Bb]in/
[Bb]in/*
![Bb]in/release*
![Bb]in/release*/**

.idea

node_modules
package-lock.json

#include the resources folder
!resources/includes/*

#make sure to ignore "notes"
resources/includes/notes.txt

